<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MazeGame</title>
  <script src="./vue.js"></script>
</head>
<body>
<div id="app">
  <div class="maze-container">
    <div v-for="(squares, xIndex) in mazeSquares" :key="xIndex">
      <div
        v-for="(square, yIndex) in squares"
        :key="yIndex"
        class="maze-square"
        :class="{
          'up-no-border': square.up,
          'left-no-border': square.left,
          'down-no-border': square.down,
          'right-no-border': square.right,
        }"
      >
        <div v-if="xIndex === dotCoords.x && yIndex === dotCoords.y" class="dot"></div>
      </div>
    </div>
  </div>
</div>
<script>
  const keyCode = {
    W: 87,
    A: 65,
    S: 83,
    D: 68,
    ArrowUp: 38,
    ArrowLeft: 37,
    ArrowDown: 40,
    ArrowRight: 39,
  }
  new Vue({
    el: '#app',
    data: {
      // 迷宫大小
      mazeSizeX: 100,
      mazeSizeY: 40,
      // 点坐标（从 0-0 开始）
      dotCoords: {
        x: 0,
        y: 0,
      },
      mazeSquares: [],
    },
    mounted() {
      // 初始化迷宫方块
      let square = {
        up: false,
        left: false,
        down: false,
        right: false,
        mark: false,
      }
      for(let i = 0; i < this.mazeSizeX; i++) {
        let array = new Array(this.mazeSizeY)
        for(let j = 0; j < this.mazeSizeY; j++) {
          array[j] = {...square}
        }
        this.mazeSquares[i] = array
      }
      this.initMaze()
      document.addEventListener('keydown', this.keyDown)
    },
    methods: {
      // 以下是迷宫构建
      initMaze() {
        let markNum = 1
        let x = 0
        let y = 0
        // 标记起点单元格
        this.mazeSquares[0][0].mark = true
        // 定义一个栈
        let stack = []
        // 还存在未标记的单元格
        while(markNum < this.mazeSizeX * this.mazeSizeY || stack.length !== 0) {
          let next = this.getAdjacentSquares(x, y)
          // 如果不存在相邻的没有标记的单元格
          if(!next && stack.length > 0) {
            let popSquare = stack.pop()
            x = popSquare.x
            y = popSquare.y
          }
          // 存在相邻的没有标记的单元格
          else {
            // 当前单元格入栈
            let square = {
              x: x,
              y: y,
            }
            stack.push(square)
            // 移除当前迷宫单元与相邻迷宫单元的墙
            if(x === next.x && y - next.y === 1) {
              this.mazeSquares[x][y].up = true
              next.square.down = true
            } else if(x === next.x && next.y - y === 1) {
              this.mazeSquares[x][y].down = true
              next.square.up = true
            } else if(y === next.y && x - next.x === 1) {
              this.mazeSquares[x][y].left = true
              next.square.right = true
            } else if(y === next.y && next.x - x === 1) {
              this.mazeSquares[x][y].right = true
              next.square.left = true
            }
            next.square.mark = true
            x = next.x
            y = next.y
            markNum += 1
          }
        }
        this.mazeSquares[this.mazeSizeX - 1][this.mazeSizeY - 1].right = true
        this.$forceUpdate()
      },
      // 随机获取相邻单元格，没有则返回false
      getAdjacentSquares(x, y) {
        let next = {}
        let num = [0, 1, 2, 3]
        while(num.length !== 0 && !next.square) {
          let index = Math.round(Math.random() * (num.length - 1))
          switch (num[index]) {
            case 0: {
              if(x + 1 < this.mazeSizeX && !this.mazeSquares[x + 1][y].mark) {
                next.square = this.mazeSquares[x + 1][y]
                next.x = x + 1
                next.y = y
              }
              num.splice(num.indexOf(0), 1)
              break
            }
            case 1: {
              if(x - 1 >= 0 && !this.mazeSquares[x - 1][y].mark) {
                next.square = this.mazeSquares[x - 1][y]
                next.x = x - 1
                next.y = y
              }
              num.splice(num.indexOf(1), 1)
              break
            }
            case 2: {
              if(y + 1 < this.mazeSizeY && !this.mazeSquares[x][y + 1].mark) {
                next.square = this.mazeSquares[x][y + 1]
                next.x = x
                next.y = y + 1
              }
              num.splice(num.indexOf(2), 1)
              break
            }
            case 3: {
              if(y - 1 >= 0 && !this.mazeSquares[x][y - 1].mark) {
                next.square = this.mazeSquares[x][y - 1]
                next.x = x
                next.y = y - 1
              }
              num.splice(num.indexOf(3), 1)
              break
            }
          }
        }
        return next.square ? next : false
      },
      // 以下是键盘交互
      keyDown(event) {
        let code = event.keyCode
        if(code === keyCode.W || code === keyCode.ArrowUp) {
          this.onUp()
        } else if(code === keyCode.A || code === keyCode.ArrowLeft) {
          this.onLeft()
        } else if(code === keyCode.S || code === keyCode.ArrowDown) {
          this.onDown()
        } else if(code === keyCode.D || code === keyCode.ArrowRight) {
          this.onRight()
        }
      },
      onUp() {
        if(this.dotCoords.y > 0 && this.mazeSquares[this.dotCoords.x][this.dotCoords.y].up) {
          this.dotCoords.y -= 1
        }
      },
      onLeft() {
        if(this.dotCoords.x > 0 && this.mazeSquares[this.dotCoords.x][this.dotCoords.y].left) {
          this.dotCoords.x -= 1
        }
      },
      onDown() {
        if(this.dotCoords.y < this.mazeSizeY - 1 && this.mazeSquares[this.dotCoords.x][this.dotCoords.y].down) {
          this.dotCoords.y += 1
        }
      },
      onRight() {
        if(this.dotCoords.x < this.mazeSizeX - 1 && this.mazeSquares[this.dotCoords.x][this.dotCoords.y].right) {
          this.dotCoords.x += 1
        }
      },
    }
  })
</script>
</body>
<style>
    body {
        height: 100%;
        padding: 30px;
        margin: 0;
    }
    #app {
        height: 100%;
        width: 100%;
    }
    .maze-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maze-square {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dot {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #000;
    }
    .up-no-border {
        border-top: 1px solid rgba(0, 0, 0, 0);
    }
    .down-no-border {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    .left-no-border {
        border-left: 1px solid rgba(0, 0, 0, 0);
    }
    .right-no-border {
        border-right: 1px solid rgba(0, 0, 0, 0);
    }
</style>
</html>
